// variable 
@import '../../../assets/scss/variable.scss';

@media (orientation: portrait) {
  ion-content {

    .signup-logo {
      top: 10%;
    }

    .signup-form {
      top: -275px;
    }
  }
}

@media (orientation: landscape) {
  ion-content {
  
    .signup-logo {
      top: 10%;
    }
    
    .signup-form {
      top: -550px;

      #intro-wrapper {
        height: 50vh !important;
      }
    }
  }
}

ion-content {
  background: $white;
  color: $black;

  .text-center {
    text-align: center;
  }

  .fr {
    float: right;
  }

  .fl {
    float: left;
  }
  
  a {
    font-family: 'Rubik-Light';
    font-size: $normal-font-size;
  }

  .position-relative {
    position: relative;
  }

  .signup-logo {
    text-align:center;
    margin-bottom: 32px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .signup-box {
    background: $white;
    box-shadow: 0 13px $title-font-size 0 rgba(0,0,0,.05);
    margin-bottom: 32px;
    border-radius: 2px;
  }

  .signup-form {
    position: relative;

    #title {
      font-family: 'Rubik-Medium';
      font-size: 15px;
      color: $white;
    }

    #subtitle {
      font-family: 'Rubik-Light';
      font-size: $small-font-size;
      color: $white;
    }

    #navigate-wrapper {
      width: 100%;
      padding: 10px;

      .navigate-button {
        border-radius: 100%;
        padding: 0px;
        height: 30px;
        width: 30px;
        margin: auto;
        color: $primary-color;
        border: 1px solid $primary-color;
        background: $white;

        &.active {
          background: $primary-color;
          color: $white;
        }
      }
    }

    #intro-wrapper {
      background: $secondary-color;
      height: 35vh;
      padding: 10px;

      p {
        font-family: 'Rubik Regular';
        font-size: 13px;
        color: $white;
        margin-bottom: 20px;
        line-height: 20px;
      }

      .go-button {
        background: $white;
        color: $secondary-color;
        font-family: 'Rubik Regular';
        font-size: $small-font-size;
        padding: 10px 5px;
      }

      .tell-button {
        color: $white;
        font-family: 'Rubik Regular';
        font-size: $small-font-size;
        padding: 10px 5px;
        text-decoration: underline;
      }
    }

    #form-wrapper {
      background: $white;
      padding: 10px;

      .form-group {
        margin: 25px 0px;

        label {
          font-family: 'Rubik Regular';
          font-size: $normal-font-size;
        }
  
        .red {
          color: $danger-color;
          font-family: 'Rubik Regular';
          font-size: $normal-font-size;
        }
  
        .suffix, small {
          color: #CCC;
          font-family: 'Rubik Regular';
          font-size: $smaller-font-size;
        }
  
        small {
          color: $black;
        }
  
        .form-control {
          display: block;
          width: 100%;
          padding: 10px;
          font-size: 1rem;
          line-height: 1.5;
          color: #495057;
          background-color: $white;
          background-clip: padding-box;
          border: 1px solid #CED4DA;
          border-radius: .25rem;
          font-family: 'Rubik Light';
          font-size: $normal-font-size;
          margin: 5px 0px;

          &:focus {
            outline: none;
          }

          &.invalid {
            border-color: $danger-color;
          }
        }

        .register-button {
          background: $primary-color;
        }
      }
    }

    button {
      width: 100%;
      padding: 15px;
      background: $secondary-color;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: 'Rubik-Regular';
      font-size: $title-font-size;

      &:disabled {
        opacity: 0.8;
        cursor: not-allowed;
      }

      &.next-button {
        font-size: $normal-font-size;
        margin-bottom: 10px;
        background: $primary-color;
        color: $white;
      }
    }

    .register-label {
      font-family: 'Rubik-Regular';
      font-size: 10px;
    }

    input[type="checkbox"] {
      background-color: $white;
      border: 1px solid #CED4DA;
    }

    p {
      font-family: 'Rubik-Regular';
      font-size: $smaller-font-size;
      padding-left: 20px;
      
      a {
        font-family: 'Rubik-Regular';
        font-size: $smaller-font-size;
      }
    }
  }
}