$white: #FFF;
$black: #000;

$primary-color: #4A6BE2;
$secondary-color: #FFA000;

$primary-background-color: #FAFAFA;
$secondary-background-color: #FFA000;
$third-background-color: #4A6BE2;

$primary-font-color: #000;
$secondary-font-color: #FFF;
$third-font-color: #818181;

$success-color: #7ED321;
$danger-color: #DB5043;

$title-font-size: 18px;
$normal-font-size: 14px;
$small-font-size: 12px;
$smaller-font-size: 11px;