<ion-content>
  <div class="position-relative">
    <img src="/assets/img/login-bg.jpg">
    <div class="forgot-password-logo">
      <img src="/assets/img/logo-big.svg">
    </div>
  </div>
  <div class="forgot-password-form">
    <form [formGroup]="user" (ngSubmit)="forgotPassword(user.value, user.valid)">
      <ion-grid>
        <ion-row align-items-center>
          <ion-col>
            <div class="forgot-password-box">
              <ion-input type="email" placeholder="Email" formControlName="email" [ngClass]="{'email': true, 'invalid': (!user.controls.email.valid && user.controls.email.touched) || (submitted && !user.controls.email.valid) }" (focusout)="checkValue(user.controls.email.valid)"></ion-input>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button type="submit" [disabled]="!isValid">FORGOT PASSWORD</button>              
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
  <div class="footer">
    Don’t have an account? <a (click)="navigate('sign-up')"><strong>Sign Up.</strong></a>
  </div>
</ion-content>
  